.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    color: #8f9bad;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    font-size: 14px;

    &.active,
    &:hover {
      background: linear-gradient(
        to top,
        #ffa387 0%,
        #fe4f70 70%,
        #ffa387 100%
      );
      border: none;
      color: #fff;
    }
  }
}
