@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import 'animations';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #203656;
}

.wrapper {
  max-width: 1140px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  border-bottom: 1px solid #ebebeb;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .links {
    display: flex;
    flex-direction: row;

    .link-container {
      position: relative;

      a {
        display: flex;
        padding: 0.4rem 1.2rem;
        border-radius: 1.2rem;
        color: #79889e;
        gap: 8px;
        align-items: center;

        svg {
          font-size: 0.8rem;
        }

        &.active {
          color: #fff;
          background: linear-gradient(to right, #fe4f70 0%, #ffa387 100%);
        }

        &:not(.active):hover {
          color: #203656;
        }
      }

      .dropdown {
        position: absolute;
        z-index: 1;
        left: 0;
        background: #fff;
        box-shadow: 0 8px 20px rgba(32, 54, 86, 0.2);
        animation: growOut 0.3s ease-in-out forwards;
        transform-origin: top center;
        display: none;
        min-width: 11rem;
        flex-direction: column;
        border-radius: 0.25rem;

        a {
          border-bottom: 1px solid #ebebeb;
          border-radius: 0;
          padding: 0.6rem 1.2rem;

          &:hover {
            color: #fe4f70;
            padding: 0.6rem 0.6rem 0.6rem 1.8rem;
          }
        }

        &::after {
          content: '';
          border: 10px solid transparent;
          position: absolute;
          border-bottom-color: #fff;
          border-top: 0;
          top: -10px;
          left: 50px;
          margin-left: -10px;
        }
      }

      &:hover {
        .dropdown {
          display: flex;
        }
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      color: #fff !important;
      background: linear-gradient(
        to top,
        #ffa387 0%,
        #fe4f70 70%,
        #ffa387 100%
      );

      &:hover {
        background: linear-gradient(
          to top,
          #ffa387 0%,
          #fe4f70 30%,
          #ffa387 100%
        );
      }
    }
  }
}

.sm-links {
  display: flex;
  gap: 15px;
}
